.konami {
	width: 400px;
}
.out {
  visibility: hidden;
  opacity: 0;  
}

.in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  -ms-transition: opacity 2s linear;
  transition: opacity 2s linear;
}